*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-color: rgba(218, 19, 36, 0.92);
}


.textchange {
  font-size: 25px;
  font-weight: bolder;
}

.container{
  width: 60%;
  margin: auto;
  text-align: center;
}

h1{
  margin-top: 30px;
  color: white;
}

h2 {
  color: white;
}

.hidden {
  /* display: none; */
  filter: opacity(0);
  transition: 0.5s;
}

.show {
  /* display: block; */
  filter: opacity(1);
  transition: 1s;
}
/* inizio prima sezione  */
.section-one{
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  margin-bottom: 40px;
}


.section-one .row {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-one .row .col {
  display: flex;
  flex-direction: column;
}

.section-one .row .col:nth-child(2){
  padding-right: 80px;
  padding-left: 80px;
}


.section-one .row .col input,
.section-one .row .col select{
  border-color: red;
}

.section-one button{
  padding: 5px;
  border-radius: 5px;
  background-color: lightgrey;
  color: red;
}



/* fine prima sezione  */

/* inizio seconda sezione */
.section-two {
  width: 100%;
}


.biglietto {
  background-color: white;
  padding: 20px;
  text-align: left;
}
#biglietto .row {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid grey;
  border-right: 0px;
}

.name {
  padding-right: 30px;
  background-color: lightgrey;

}




table{
  text-align: center;
  padding-left: 30px;
}

th {
  width: calc(100% / 4);
  padding-right: 50px;
}
td {
  /* width: calc(100% / 4); */
  padding-right: 50px;
}
